
/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(221,184,146);
background: linear-gradient(90deg, rgba(221,184,146,1) 0%, rgba(237,224,212,1) 50%, rgba(230,204,178,1) 100%);
  align-self: center;
  margin: 2rem;
  padding: 5rem;

}
.p1 { 
  color: #af7752;
  text-align:left
}

h1, .p2{
  color: #6c2e07;
}

.p2{
  font-weight: bold;
}

div {
  min-width: 500px;
  padding: 5rem;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: #9c6644 0px 8px 100px;
}

.price {
  color: #6c2e07;
  font-size: 3rem;
  font-weight: bold;
}
